body
{
    background-color: #121212;
    color: #eeeeee;
}
table
{
    border: 2px solid #eeeeee;
}
td
{
    font-size: 24px;
    text-align:center;
    border: 1px solid #eeeeee;
    width: 160px;
}
button
{
    font-size: 24px;
}
textarea
{
    font-size: 16px;
}
