body
{
    background-color: #121212;
    color: #eeeeee;
}
#gendiv
{
    background-color: black;
    width: 720px;
    margin: 0 auto;
}
h1
{
    text-align:center;
}
h2
{
    text-align:center;
}
table
{
    font-size: 24px;
    border: 2px solid #eeeeee;
    margin: 10px auto;
}
td
{
    text-align:center;
    border: 1px solid #eeeeee;
    width: 160px;
}
button
{
    font-size: 24px;
}
textarea
{
    font-size: 24px;
}
.code
{
    font-family: monospace, consolas;
    background-color: black;
    color: white;
}
